<!--
  Generated template for the News page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>news</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-title *ngIf="newsDetail">
            {{newsDetail.title}}
        </ion-card-title>

        <ion-card-content *ngIf="newsDetail">
            <img src="{{newsDetail.image}}">
            <div innerHTML="{{newsDetail.body}}"></div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="newsExtra">
        <ion-icon name="ios-star-outline"></ion-icon>
        {{newsExtra.popularity}}&nbsp;&nbsp;

        <ion-icon name="ios-chatboxes-outline" (click)="commentsClick()"></ion-icon>
        {{newsExtra.comments}}
    </ion-toolbar>
</ion-footer>