<!--
  Generated template for the News page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>news</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding="true">

    <h2 *ngIf="newsDetail">
        {{newsDetail.title}}
    </h2>

    <div *ngIf="newsDetail">
        <img src="{{newsDetail.image}}">
        <p innerHTML="{{newsDetail.body}}">
        </p>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="newsExtra">
        <ion-icon name="ios-star-outline"></ion-icon>
        {{newsExtra.popularity}}&nbsp;&nbsp;

        <ion-icon name="ios-chatboxes-outline" (click)="commentsClick()"></ion-icon>
        {{newsExtra.comments}}
    </ion-toolbar>
</ion-footer>